@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Poppins:ital,wght@0,200;1,100;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Poppins", sans-serif;

  color: #4b5259;
}
button {
  padding: 5px 10px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  border-radius: 2px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 2px 2px 5px #bebebe, -5px -5px 10px #ffffff;
}
body {
  background-color: #e2e3eb;
}
input {
  border: none;
  border-bottom: 1.5px solid #000;
  outline: none;
  width: 80px;
}
input[type='number']{
  background-color: #f5f5f9;
  color: orange;
  font-size: 20px;
  font-weight: bold;
}
.calc__app {
  display: grid;
  place-items: center;
  margin-top: 40px;
}
.App {
  background-color: #f5f5f9;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}
.header {
  width: 100%;
  margin-bottom: 20px;
}
.logo {
  padding: 8px 0;
  text-align: center;
}
.logo span h2 {
  font-size: 20px;
}
.calc__container {
  margin-top: 5%;
  padding: 5px;
}
.weight,
.height {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.inputHeight,
.inputWeight {
  display: flex;
}
.btns {
  display: flex;
  flex-direction: column;
}
.gender{
  margin: 4% 0;
}
.submit__ans {
  margin-top: 5%;
}
.reload {
  margin-top: 10px;
  margin-bottom: 3%;
}
.result__sect {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
